.home {
  display: flex;
  justify-content: center;
  background-color: #eaeded;
}

.home__container {
  max-width: 1500px;
  width: 100%;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -80px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.home__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 12px;
}
